<section class="sidebar-autor">
    <p style="text-align: -webkit-center;">
        <img src="{{ site.url }}/img/delegadoanonimo.jpg" class="img-responsive  image-author" alt="Delegado anônimo">
    </p>
    <p>
        Três amigos programadores que se juntaram para (tentar) falar sobre desenvolvimento de software.
    </p>

    <p><a target="_blank" href="http://www.twitter.com/delegadoanonimo">Twitter</a></p>
    <p><a target="_blank" href="http://www.github.com/delegadoanonimo">Github</a></p>
</section>
