<section class="sidebar-autor">
    <p style="text-align: -webkit-center;">
        <img src="{{ site.url }}/img/fabriciopanhan.jpg" class="img-responsive  image-author" alt="Fabricio Panhan">
    </p>
    <p>
        Sou o Fabricio, Pequeno Padawan, Panhan! Esse apelido surgiu no tempo em que o mestre George Lucas estava lan&#231;ando os epis&#243;dios I, II e III da s&#233;rie Star Wars. Todos da minha equipe me chamavam de Panhan, ent&#227;o nada mais natural de Panhan virar Padawan. Adotei este apelido no podcast porque me sinto um pequeno aprendiz procurando os grandes mestres do desenvolvimento de software.
    </p>

    <p><a target="_blank" href="http://www.twitter.com/fpanhan"><i class="fa fa-twitter"></i> Twitter</a></p>
    <p><a target="_blank" href="http://www.github.com/fpanhan"><i class="fa fa-github-alt"></i> Github</a></p>
</section>
