<section class="sidebar-autor">
    <p style="text-align: -webkit-center;">
        <img src="{{ site.url }}/img/marcelopalladino.jpg" class="img-responsive  image-author" alt="Marcelo Palladino">
    </p>
    <p>
        Meu nome é Marcelo Palladino e trabalho com desenvolvimento de software desde a década de 90.
    </p>

    <p>
        Além de trabalhar profissionalmente, atualmente meus projetos de estimação envolvem a
        <a target="_blank" href="http://www.jellyhard.com.br">Jellyhard</a> e o Delegado Anônimo.
    </p>

    <p><a target="_blank" href="http://www.twitter.com/mfpalladino">Twitter</a></p>
    <p><a target="_blank" href="http://www.github.com/mfpalladino">Github</a></p>
</section>
